[2020-06-06 10:57] tomyqg opened #2 "example request"
is there any example project for SAMA5D2 and SAM9X6?

[2020-06-10 20:31] goldscott commented on #2
We do have generic ThreadX support for the Cortex-A5 and the ARM926EJ-S architectures, which should migrate easily to these particular implementations. We also support the most popular ARM development tools, e.g., IAR, ARM, GCC, etc.  We will be adding these generic ports to Github going forward.

We also recommend that you reach out to azure-rtos-sales@microsoft.com to initiate a deeper discussio

[2020-06-15 01:51] ccli8 opened #3 "How to integrate for deliverable?"
This is continuation of https://github.com/azure-rtos/threadx/issues/8. I've checked the IDE distribute and have the following questions:

1. For a chip vendor to provide azure rtos deliverable, the IDE distribute (including its directory structure) is suggested and necessary?
1. From the IDE distribute, one package for one IDE. How do you manage multi-IDE? It is preferable to keep just one copy o

[2020-06-17 19:02] goldscott commented on #3
Thanks for your interest in Azure RTOS. We can certainly entertain new packages from chip vendors. We should also discuss licensing opportunities similar to what we are doing with other chip vendors. Please contact azure-rtos-sales@microsoft.com to start a direct communication on contributing new deliverables as well as discussing potential chip vendor licensing.

As for your packaging questions,

[2020-06-19 09:57] cyliangtw commented on #3
@goldscott , we are one chip vendor and contacted your local sales one month ago, also understood your business model.
Now, we tried to port on one EVB and consider how to pull request in the future.
So, ask what's the architecture of your main stream of samples, it's for easy merge/rebase in the future. It will be better to realize/follow up your arch.
One more question is where to retrieve the v

[2020-06-24 20:35] goldscott commented on #3
@cyliangtw This is a good question - i'll find out how the team wants sample projects structured. The sample projects use the 6.0 release of ThreadX and NetX Duo, but because there are IAR sample projects but no IAR ports in the TX and NXD repos, we can't map them to a commit right now. See ports https://github.com/azure-rtos/threadx/tree/master/ports for how each port/toolchain will be structured

[2020-06-27 14:45] wangyuew opened #4 "Question of bin file size (2.87GB) of STM32F746G-DISCO_STM32CubeIDE_Samples"
Environment:

- STM32CubeIDE v1.3.1
- Win 7 & 10
- STM32Cube F7 1.16.0

After building these samples ok , i have found there are 3 very large *.bin files.
While the size of bin files of other sample projects is normally little than corresponding elf files.

1. sample_guix_home_automation.bin, 2.87GB.
2. sample_guix_medical.bin, 2.87GB.
3. sample_guix_speedometer.bin, 2.87GB.

I notice the instruct

[2020-07-09 18:46] yuxin-azrtos commented on #4
Turns out to be a setting in the linker control file: declare .sd_ram section as (NOLOAD).  We will update the linker file in the future release.  Meanwhile you can replace your local copy (common/STM32F746NGHX_FLASH.ld) using the updated version attached here. Let me know if this fix addresses the issue.
[STM32F746NGHX_FLASH.zip](https://github.com/azure-rtos/samples/files/4898912/STM32F746NGHX_F

[2020-07-10 10:42] wangyuew commented on #4
thanks，its been fixed by the new ld file.

[2020-07-10 16:47] yuxin-azrtos commented on #4
Thanks!  I am going to close this issue. Feel free to contact us if you have any questions!

[2020-07-10 16:47] #4 closed

[2020-07-27 09:57] AleksBak opened #5 "About a repository with samples. USB CDC-ACM does not work correctly for me. Advise, if possible, how to solve the problem."
Hello!
Thank you for your hard work on **Azure RTOS**.
If possible, I have a few questions for you:
1. **Azure RTOS** has many components and using them on microcontroller platforms we use not one of them, but several at once. You do not have a code repository with the samples code on some microcontroller. Only **Release** of this repository. It would be great if you did this. This will greatly he

[2020-07-29 19:17] goldscott commented on #5
Hi @AleksBak - we cannot possibly support every dev board out there. As we finalize our partnerships with Microchip, Renesas, ST, and NXP, they will create workspaces for their dev boards.

Do you have a USB analyzer like the Beagle https://www.totalphase.com/products/beagle-usb480/ to see what's actually happening on the bus? We need more info about what is going on. @nisohack Can you help?

[2020-07-29 20:22] nisohack commented on #5
Hi @AleksBak, it looks like you're using the STM32Cube IDE project. I have created a simple CDC-ACM demo that echoes data to the host - you can download it here: [sample_usbx_device_cdc_acm_echo.zip](https://github.com/azure-rtos/samples/files/4997252/sample_usbx_device_cdc_acm_echo.zip). In order to use this demo, place it in the 'sample_usbx_device_mass_storage' project and exclude the original

[2020-07-30 13:07] AleksBak commented on #5
Hi @nisohack !
Thank you very much for the working project!
Very strange, but it works!
Strange because BEFORE THIS, I already (IMHO) saw some problems in the initialization of the USB HS registers STM32 when **creating endpoints**. But your code works! See [this](https://github.com/AleksBak/AZURE_RTOS/tree/master/sample_usbx_device_cdc_acm_2) project. I will still check some things and WRITE LATE

[2020-07-30 13:35] AleksBak commented on #5
Hi @goldscott !
Thank you very much for your reply! Excuse me if I answer late.
I do not have the **hardware** USB analyzer you are talking about. I will ask my company and maybe they will get it for me (now **COVID** and it is unlikely it will be, but I will hope)
However, as it seems to me, in this case, I can do with a **software** analyzer (for example, this one - https://desowin.org/usbpcap/)

[2020-08-01 08:17] AleksBak commented on #5
Hi @goldscott.
I want to write again - your example now works (works but **only with certain endpoint numbers** and exactly those that are in the example now!!). Thank.
Earlier you sent me (by mail) an example and it did not work then and I thought that there were problems with creating endpoints. And I began to study the USB HS registers of the controller and how to program them. It is very diffi

[2020-08-06 21:10] goldscott commented on #5
Hi @AleksBak - sorry I missed this. Did your developer inform us of the critical NetX bug? Could you please do that. Thanks!

[2020-08-09 06:41] AleksBak commented on #5
Hello, how are you, @goldscott !
I asked 2 days ago the person I wrote about earlier. I waited for his answer. But he replied that due to being busy, he could not do it now. I'll just briefly write you what the problem is (everything turns out to be very simple as it might seem):
before exiting the function
"**UINT _nx_ftp_client_active_transfer_setup** (NX_FTP_CLIENT * ftp_client_ptr, ULONG wait_

[2020-08-11 21:17] goldscott commented on #5
Hi @AleksBak - sorry for the delay. Thanks for letting us know about this FTP issue - I'll have notified our NetX team to look into this bug. And thanks for the link to the forum!

As for this USB issue, can you show me what file this is happening? or explain what is going on a little more. Is it specific to the STM32 registers? Debugging USB is hard, and we want to make sure both HS and FS work p

[2020-08-13 14:01] AleksBak commented on #5
Hi @goldscott. Sorry for being late with the answer - I thought I would study **USBX** a little more and try to fix the errors myself, but it didn't work out for me because it takes a lot of time to study it. And so I decided to answer as soon as possible.
There, in the "**ux\usbx_device_controllers\ux_dcd_stm32_interrupt_handler.c**" function, the "**_ux_device_stack_disconnect**()" function is c

[2020-08-13 19:26] nisohack commented on #5
Hi @AleksBak, we will look into the SUSPEND mode issue. For your other issue regarding invalid transfers, can you give us an example file that shows the incorrect behavior? Right now, we do not know what buffer addresses or buffer sizes you are using that trigger the incorrect behavior, so please send us an example so we can test it.

[2020-08-15 08:58] AleksBak commented on #5
Hi @nisohack.
Well, look - I sent you the same example that you sent me. Sorry that it is a little long, but it seems to me that it will not cause any difficulties in understanding it.
For convenience, you can use the following commands for **IDE** (I use STM32CubeIDE):
"**Toggle folding**" - keys "**Ctrl + Numpad_Divide**" and "**Collapse all**" - keys "**Ctrl + Shift + Numpad_Divide**".
I modifi

[2020-08-17 19:09] nisohack commented on #5
Hi @AleksBak,

Thanks for the example. I was able to reproduce the issue. We are currently looking into it and will let you know what we come up with.

Thanks,
Nick

[2020-08-18 18:15] nisohack commented on #5
Hi @AleksBak,

Please replace your ux_dcd_stm32.h with this version: [ux_dcd_stm32.zip](https://github.com/azure-rtos/samples/files/5092072/ux_dcd_stm32.zip). It increases the FIFO size to support 512 byte MPS (Max Packet Size).

Also, if you send data that has a size that is a multiple of the MPS, then you will need to send a ZLP (Zero Length Packet) by calling _ux_device_stack_transfer_request w

[2020-08-19 11:54] AleksBak commented on #5
Hi @nisohack.
Thank you very much for your help!
Once again you helped me and at the same time surprised me again. I thought the problem here was in the wrong setting of the USB registers for the STM32 for the endpoint (for example, DIEPCTLx for the corresponding endpoint), but how much I don’t compare it with the USB library from STM, there’s no difference. And here it turns out it was necessary

[2020-08-25 20:41] goldscott commented on #5
I'll close this now but feel free to open again if you have more issues.

[2020-08-25 20:41] #5 closed

[2020-09-01 22:15] goldscott commented on #3
@ccli8 and @cyliangtw - I'll email you privately. Closing.

[2020-09-01 22:15] #3 closed

[2020-09-29 02:13] fyyxxm opened #7 "No samples for keil."

[2020-09-29 04:35] goldscott commented on #7
We have sample projects for IAR tools and the various free IDEs the semis provide.

[2020-09-29 04:35] #7 closed

[2020-10-01 07:48] allalla1 opened #8 "stm32f429 DISCO"
hello, i want to use guix for stm32f429-disco card. I need help with driver. I could not find any examples.

[2020-10-01 15:58] goldscott commented on #8
Please send us an email or share your email and I can share a 429 Disco workspace with you.

[2020-10-02 05:00] allalla1 commented on #8
Thank you !

[2020-10-06 22:07] goldscott commented on #8
Emailed. Closing.

[2020-10-06 22:07] #8 closed

[2020-10-10 18:42] solarflarefx opened #10 "No rule to make target error"
I am trying to run the sample_azure_iot project and get this same error in stm32cubeide. Any idea what could be wrong? I downloaded the sample directly from: https://github.com/azure-rtos/samples

![Screenshot from 2020-10-10 12-46-13](https://user-images.githubusercontent.com/45402633/95662674-b8055a80-0b06-11eb-9dcd-611873b1d02b.png)

Note that my references looked slightly different than what w

[2020-10-12 02:10] wangwen-4220 commented on #10
Hi solarflarefx,

i guess the linker file can't be found. you can check in this way:
![image](https://user-images.githubusercontent.com/65378117/95697975-1d765a00-0c73-11eb-9161-b42f74d64fe0.png)

click browse to locate the linker file and try again.

[2020-10-13 02:01] solarflarefx commented on #10
@wangwen-4220 Thanks for the reply.  How do I access the window you are showing?  Is this a window in STM32CUBEIDE?

[2020-10-13 02:16] solarflarefx commented on #10
Sorry I found the setting.  It now got past the previous step but I now get these errors:

/opt/st/stm32cubeide_1.4.0/plugins/com.st.stm32cube.ide.mcu.externaltools.gnu-tools-for-stm32.7-2018-q2-update.linux64_1.4.0.202007081208/tools/bin/../lib/gcc/arm-none-eabi/7.3.1/../../../../arm-none-eabi/bin/ld: cannot find -lnetxduo
/opt/st/stm32cubeide_1.4.0/plugins/com.st.stm32cube.ide.mcu.externaltools.

[2020-10-15 01:18] wangwen-4220 commented on #10
@solarflarefx ，
It hits that the libraries do not exist, please build netxduo，threadx，lstm32l4xx_lib separately,  then build the sample.

[2020-10-18 02:02] solarflarefx commented on #10
I tried doing that, but I still get the same error.  Is this an indication the project settings are wrong?

![image](https://user-images.githubusercontent.com/45402633/96357069-7b1c0380-10c4-11eb-8b6d-9ebd579cf16f.png)

[2020-10-18 09:22] bochen-1 commented on #10
@solarflarefx we uploaded 6.1 zip projects, could you try the latest if there is same issue?

[2020-10-18 16:48] solarflarefx commented on #10
@bo-ms I figured it out -- when I downloaded the zip file, it seems that the default paths did not take case into account.  Since Windows paths are not case sensitive, it did not make a difference there but it does in Ubuntu.  The "Debug" directory needed to be capitalized in the paths.  Thanks for the help!

[2020-10-18 16:48] #10 closed

[2020-10-18 17:14] solarflarefx opened #11 "Azure-Iot-Sample serial port not showing"
I am trying to follow the doc "Azure RTOS IoT Quick Connect Sample STM32L4+-DISCO IoT Node using STM32CubeIDE User Guide".  I was able to get up to the point of downloading the project to the board, but I am having trouble with the following part:
![image](https://user-images.githubusercontent.com/45402633/96374826-32eff600-1143-11eb-8918-54bd91f91a5c.png)

 I am using Ubuntu 18.04, so I chose to

[2020-10-19 01:12] bochen-1 commented on #10
@solarflarefx thanks for bring it up, we will fix this issue.

[2020-10-20 02:43] wangwen-4220 commented on #11
@solarflarefx ， can you re-plug the USB cable of the board  to make sure the correct serial port is selected?

[2020-10-21 01:18] solarflarefx commented on #11
@wangwen-4220 I have tested the same serial port on the same board, but using bare metal C code and that works fine.

[2020-10-21 08:22] wangwen-4220 commented on #11
@solarflarefx , want to make sure with you which board you are using , b-l4s5 or b-l475?

[2020-10-21 10:58] solarflarefx commented on #11
@wangwen-4220  I have the B-L475E-IOT01A1

[2020-10-22 03:44] wangwen-4220 commented on #11
@solarflarefx , please change the linker file to "STM32L475VGTX_FLASH.ld" :

![image](https://user-images.githubusercontent.com/65378117/96822012-a81d3d00-145b-11eb-9540-0ac1b0ce4c73.png)

[2020-10-29 00:47] solarflarefx commented on #11
Thanks for the suggestions.  Seems to have made a difference, but I get this error now:
![image](https://user-images.githubusercontent.com/45402633/97512027-d40a5800-195e-11eb-9cd5-e96e534919f2.png)

[2020-10-29 01:05] bochen-1 commented on #11
@solarflarefx could you check if set the WIFI user name and password?

[2020-10-29 01:09] solarflarefx commented on #11
@bo-ms You mean in board_setup.c?

#ifndef WIFI_SSID
//#error "Symbol WIFI_SSID must be defined."
#define WIFI_SSID "xxx"
#endif /* WIFI_SSID  */

#ifndef WIFI_PASSWORD
//#error "Symbol WIFI_PASSWORD must be defined."
#define WIFI_PASSWORD "yyy"
#endif /* WIFI_PASSWORD  */

I edited the lines above, replacing "xxx" and "yyy" with the SSID and password.  Is there anything else I am supposed to edit

[2020-10-29 02:04] bochen-1 commented on #11
@solarflarefx correct, set WIFI_SSID and WIFI_PASSWORD as yours, could you also check if the WIFI_SECURITY_TYPE is correct? If also failed, could you try to use phone hotspot first?

[2020-10-29 02:13] solarflarefx commented on #11
@bo-ms I looked at the security settings for my wifi network:
![image](https://user-images.githubusercontent.com/45402633/97516924-97445e00-196a-11eb-97ab-269191801b18.png)

My settings were:
#ifndef WIFI_SECURITY_TYPE
//#error "Symbol WIFI_SECURITY_TYPE must be defined."
#define WIFI_SECURITY_TYPE  WIFI_ECN_WPA2_PSK
#endif /* WIFI_SECURITY_TYPE  */

[2020-10-29 02:29] bochen-1 commented on #11
@solarflarefx seems the settings are correct, one potential issue, the wifi signal on L4 board is weak, could you try to move the router close to board? or try to get the board connected to hotspot? thanks.

[2020-10-29 02:29] solarflarefx commented on #11
I get this:
STM32L4XX Lib:

ES-WIFI Firmware:

ES-WIFI MAC Address: xxx
ES-WIFI Connected.

Error in connecting to server: 0x10005

Does anything look off here?

[2020-10-29 02:35] bochen-1 commented on #11
@solarflarefx made some progress, once you get the IP address, it means the device already connected to router. did you set the symbols used to connect IoT Hub in sample_config.h? such as: DEVICE_ID, DEVICE_SYMMETRIC_KEY, HOST_NAME

[2020-10-29 03:11] solarflarefx commented on #11
@bo-ms I followed the PDF instructions and set:
- HOST_NAME
- DEVICE_ID
- DEVICE_SAS

I did not set other parameters except for the WIFI information.

Is there a way to tell which of the above parameters is giving a problem?  Though I believe I have set the above 3 parameters correctly.

[2020-10-30 05:37] wangwen-4220 commented on #11
@solarflarefx , which sample are you running?
please note that DEVICE_SAS is time-limited. what value did you set for "Expiration (minutes)" when creating SAS token connection string

[2020-10-30 10:49] solarflarefx commented on #11
@wangwen-4220 I am trying to run sample_azure_iot project.  I set the SAS to 120 minutes.  This time did not expire from when I generated the token and then tried to run the sample.

[2020-11-02 01:59] wangwen-4220 commented on #11
@solarflarefx  ，HOST_NAME's format looks like "your-iothub-name.azure-devices.net".
how is it going ？ still Error in connecting to server: 0x10005？

[2020-11-02 03:08] solarflarefx commented on #11
Yes still the same error.  I believe I did put in the correct HOST_NAME

[2020-11-02 03:35] wangwen-4220 commented on #11
can you try the latest release samples : https://github.com/azure-rtos/samples

[2020-11-26 10:09] he2002512 opened #12 "请问谁有USBX 虚拟串口的demo，who has USBX VCP demo，pls？"
最近想用usbx做stm32f103 的虚拟串口，没找到相关资料，请问谁有相关资料或者Demo，谢谢！

[2020-11-27 01:48] xiaocq2001 commented on #12
目前对stm32f103还没有直接可以使用的demo，关于cdc acm虚拟串口的使用可以参考user guide的说明：
https://docs.microsoft.com/en-us/azure/rtos/usbx/usbx-device-stack-5

[2020-11-30 20:47] #12 closed

[2020-12-30 03:27] armembedded opened #13 "problem in opening Azure_RTOS_6.1_STM32F746G-DISCO_IAR_Samples_2020_10_10.zip sample with IAR IDE"
Hi
when I want to open an "Azure_RTOS_6.1_STM32F746G-DISCO_IAR_Samples_2020_10_10.zip" sample with IAR IDE, the IDE show a problem and also do not compile completely.

IAR Version: 8.30
![Screenshot 2020-12-30 065444](https://user-images.githubusercontent.com/16489088/103327936-feb28300-4a6b-11eb-83a9-e41f9885ebcf.jpg)

[2020-12-31 02:42] bochen-1 commented on #13
Hi @armembedded, given the project was created by IAR 8.50.1, could you upgrade your IAR and try again?

[2021-01-08 05:38] bochen-1 commented on #13
Hi @armembedded I guess you already fixed it, so I close this issue.

[2021-01-08 05:38] #13 closed

[2021-01-11 05:02] bochen-1 commented on #11
closing this issue for now, let us know if you have further questions.

[2021-01-11 05:02] #11 closed

[2021-01-20 22:35] Norlander opened #14 "sample_azure_iot_embedded_sdk not working for STM32F746G_DISCO in STM32CubeIDE?"
Hi,

Downloaded the : Azure_RTOS_6.1_STM32F746G-DISCO_STM32CubeIDE_Samples_2020_10_10.zip
Followed the pdf tutorial: Azure_RTOS_STM32F746G-DISCO_Azure_IoT_Embedded_SDK_For_STM32CubeIDE.pdf
My STM32F746G-DISCO is connected via ethernet in my home network. DHCP/PSA2, no special restrictions...

I modify the samples_config.h and build the project successfully. Launch Teraterm to get debug output. The

[2021-01-21 03:05] wangwen-4220 commented on #14
@Norlander ,

	Could you help us to get more data?  First, run the project 3 times with netxduo and threadx projects are built with -Of or -Os. Second, run the project 3 times with netxduo and threadx projects are built with -Og. Please record the output.
	Just to clarify that if the SNTP time sync failed, it is expected that the connect to iot hub will fail. Sometimes SNTP time sync will fail, it

[2021-01-21 21:39] Norlander commented on #14
Hi,

If you want you can skip all my tests above and just skip to my conclusion at the bottom of this post :) But of course I paste my test results for your review and comparison...

To clarify both the netxuo and threadx was actually built with -Ofast in "Debug" in your package. In my first post I was confused if it was -Ofast or -Os or mixed between libraries. But I extracted a new copy to check

[2021-01-22 01:47] wangwen-4220 commented on #14
@Norlander ,

thank you for detailed information , it is very helpful, we will figure out the root cause.

[2021-01-27 06:20] TiejunZhou-CN commented on #14
@Norlander , we are not able to reproduce the issue. As it may be related to GCC optimization issue (see [here](https://unix.stackexchange.com/a/1622)), we will change the optimization level to -Og in next release. As a workaround, could you change it in your local workspace? Thanks!

[2021-01-27 06:20] #14 closed

[2021-02-16 22:23] mrrajeshrai opened #16 "Request to upgrade threadx to 6.1.3"
Hi Team,

The threadx module is updated to 6.1.3. Do you have any plan to upgrade the same with same as well?

Thanks,
Rajesh

[2021-02-16 22:31] goldscott commented on #16
We're not going to update the samples every patch release - that's just too much work. But you can update your sample project if you feel like it.

[2021-02-16 22:54] mrrajeshrai commented on #16
On it. Thanks

[2021-02-16 23:06] #16 closed

[2021-02-24 09:42] SS-iot-devoted opened #18 "Nothing to build"
hello, I'm working on Azure RTOS for the STM32L4 device and I used your repo [Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10.zip](url)

when I read the docs provided in the folder and I tried to build the sample named "sample_azure_iot_embedded_sdk" it gave me this in the console
**Build of configuration Debug for project sample_azure_iot_embedded_sdk
Nothing to build for project sa

[2021-02-25 14:24] ghost commented on #18
Hello, Sir
Is there any update I'm waiting @wangwen-4220
I'm looking for building my own application.

[2021-02-26 01:11] ghost commented on #18
@SS-iot-devoted , can you try to clean and build? if still nothing to build, try to turn off virus protection.
![image](https://user-images.githubusercontent.com/50651399/109240495-8a4d5380-7812-11eb-94f8-91e1e66fee9e.png)

[2021-02-26 02:31] ghost commented on #18
hi @wangwen-ms ,
I did what you ask for the clean project and that turn off virus protection. but still getting the same issue
I think the problem is on linker files or path side because in doc _Azure_RTOS_STM32L4+-DISCO_Azure_IoT_Embedded_SDK_For_STM32CubeIDE.pdf_   page10 I got this point   _1. Right click on active sample project, select Properties > C / C++ Build > Settings. In Tool Settings t

[2021-02-26 03:24] ghost commented on #18
can you use the latest stmcube IDE 1.5.1 to open it ?
the linker file has no effect on build.

[2021-02-26 08:43] ghost commented on #18
I update my IDE ask you asked  and update all other tools we need for that
but still, I'm not able to build it again

<img width="729" alt="Capture2" src="https://user-images.githubusercontent.com/70808738/109277053-cb5a5d80-783c-11eb-8a58-b8d1c98f1552.PNG">

[2021-02-26 09:18] ghost commented on #18
can you try to open the project in this way:
file->import
![image](https://user-images.githubusercontent.com/50651399/109280873-88a57f00-7856-11eb-960e-0b8dbea2a59b.png)

[2021-02-26 10:47] ghost commented on #18
Still nothing to build...
Getting the same output in console

[2021-02-26 11:22] ghost commented on #18
it cant be explained. can you paste your project here , what it looks like when you open it

[2021-02-26 13:37] ghost commented on #18
I'm working on Azure RTOS for the STM32l475-E-IOT-01-A2 device and I used your repo [https://github.com/azure-rtos/samples/releases/download/v6.1_rel/Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10.zip](url)

when I read the PDF docs provided in the folder (Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10\b-l4s5i-iot01a\stm32cubeide\docs\Azure_RTOS_STM32L4+-DISCO_Azure_I

[2021-03-01 09:56] ghost commented on #18
any update @wangwen-ms ....
I'm still looking for the solution

[2021-03-02 01:25] ghost commented on #18
@SS-iot-devoted  ,

by the way , you link for zip package can't be opened.
 the zip package will be 18.5M. after it is opened correctly, it will looks like below : there should not be any information in the Problem window, so i doubt  the project is not opened successfully.

![image](https://user-images.githubusercontent.com/50651399/109582140-9863e280-7b38-11eb-900b-768d700a24aa.png)

and of cour

[2021-03-02 01:27] ghost commented on #18
what is your package size downloaded from github, and what does the problem windows show?
![image](https://user-images.githubusercontent.com/50651399/109582626-70c14a00-7b39-11eb-918a-ab82ffb87b06.png)

[2021-03-02 08:43] ghost commented on #18
the zip package is 18.5M. and while building I'm getting this error.

<img width="391" alt="Capture" src="https://user-images.githubusercontent.com/70808738/109621639-3e2b4780-7b61-11eb-887a-607cdb80c63d.PNG">

and in the problem window.

<img width="578" alt="Capture2" src="https://user-images.githubusercontent.com/70808738/109621748-62872400-7b61-11eb-91d2-8872f953d229.PNG">

[2021-03-02 08:55] ghost commented on #18
@SS-iot-devoted  please unfold the warnings , what arethe warnings info?
and can you build any examples from stmcube itself
what is your project path in your computer

[2021-03-02 09:00] SS-iot-devoted commented on #18
Description	Resource	Path	Location	Type
make: *** No rule to make target 'clean'.  Stop.	sample_azure_iot_embedded_sdk		 	C/C++ Problem
'%s' directive writing up to 127 bytes into a region of size 40 [-Wformat-overflow=]	platform_STM32Cube_IoT01A1.c	/B-L475E-IOT01/Azure1/User/adapter	line 280	C/C++ Problem
'%s' directive writing up to 127 bytes into a region of size 40 [-Wformat-overflow=]	platfor

[2021-03-02 09:23] ghost commented on #18
that warning from another project .. but the problem window  only from this project

[2021-03-02 18:55] goldscott commented on #18
@wangwen-ms @SS-iot-devoted are you both using the exact same version of Cube IDE and compiler?

Eclipse sucks. Sometimes, even if the vIDE and compiler versions are the same, for whatever reason, projects made on one machine do not work on another machine.

Nobody else has reported any problems opening or building these projects. @SS-iot-devoted can you try on a different machine?

[2021-03-03 07:46] ghost commented on #18
@goldscott  yes,  i think so

[2021-03-03 08:50] SS-iot-devoted commented on #18
Don't know maybe this  is the reason but I tried Azure_RTOS_6.0_STM32L475-DISCO_STM32CubeIDE_Samples_2020_05_17.zip from [https://github.com/azure-rtos/samples/releases](url)
 and here I build that is work for me but getting that error **Error in getting Azure-host address: 0xa3** so can you help me out from here

[2021-03-03 13:55] ghost commented on #18
Thank you @goldscott for the help that is work for me, I'm using a different system now.

Now I faced another issue which is the application not able to **SNTP Time sync failed** and **IoTHub client connect fail: DNS RESOLVE FAIL status: 163**

<img width="555" alt="Capture" src="https://user-images.githubusercontent.com/70808738/109815074-42389180-7c55-11eb-86f3-3332226e0c70.PNG">

One more thing

[2021-03-04 06:27] bochen-1 commented on #18
Hi @SS-iot-devoted seems the WIFI firmware (C3.5..2.3.BETA9) is too old, we encountered this issue that the old ES_WIFI did not correctly return the DNS address, could you update the [firmware](https://www.inventeksys.com/iwin/firmware/)?  C6.2.1.7 and C3.5.2.5 has been verified.

[2021-03-04 06:35] bochen-1 commented on #18
In this [branch](https://github.com/azure-rtos/netxduo/tree/master/addons/azure_iot), there are json files (nx_azure_iot_json_reader.c/.h and nx_azure_iot_json_write.c/.h), you can try it.  [Json APIs](https://github.com/azure-rtos/netxduo/blob/master/addons/azure_iot/docs/azure_rtos_iot_json.md)

[2021-03-04 13:20] ghost commented on #18
Hi @bo-ms  For update the [firmware](https://www.inventeksys.com/iwin/firmware/) I got the .bin file for device **B-L475E-IOT01A**. Can you tell me which one I should use(UART/ SPI)  and how can I update the firmware by that .bin file ?

Can I get the .c or .h file so I directly replace in main code

[2021-03-05 01:24] bochen-1 commented on #18
Hi @SS-iot-devoted, could you download the [Inventek ISM 43362 Wi-Fi module firmware update](https://www.st.com/content/ccc/resource/technical/binary_resources/utilities/group0/7d/0b/be/f2/6a/51/4f/a2/inventek_fw_updater/files/inventek_fw_updater.zip/jcr:content/translations/en.inventek_fw_updater.zip) and follow up the readme to install it?

[2021-03-05 03:47] ghost commented on #18
hello @bo-ms ,
I tried what you ask for with the help of the readme file used **STM32 ST-LINK Utility** and its showing that my firmware is updated
<img width="484" alt="Capture1" src="https://user-images.githubusercontent.com/70808738/110063825-e45d9400-7d91-11eb-9687-752504991bb9.PNG">

 so I unplug the device and again try to install my application while _RUN_ the application this window popup

[2021-03-05 04:02] bochen-1 commented on #18
Hi @SS-iot-devoted from the screenshot, the firmware version is still C3.5.2.3.BETA9. Looks you only updated the ST-LINK Utility (step1- step2), could you continue to run the following steps (step3-step7) in readme?

[2021-03-05 05:19] ghost commented on #18
I didn't post every screenshot but if you want I can post it here all with all steps.
Yes, I run **update_Wifi_FW_C3.5.2.5.STM.bat** file at the end of the 7th step
here the results that I got ...   Can we make a meeting on **Skype or MSTeam** ???
.......................................................................

C:\WINDOWS\system32>"C:\Program Files (x86)\STMicroelectronics\STM32 ST-LINK Ut

[2021-03-05 05:29] bochen-1 commented on #18
you can check the current wifi firmware version in the output console window.
![image](https://user-images.githubusercontent.com/50469338/110071328-c9514b00-7db6-11eb-9c40-cf9dedd4b7ca.png)

[2021-03-05 05:38] ghost commented on #18
It is still the same as that image
Can we make a meeting on Skype or MSTeam ???

[2021-03-05 05:51] bochen-1 commented on #18
Looks the target is not connected. let's chat. My MS Teams: boche@microsoft.com

[2021-03-05 09:05] ghost commented on #18
Thank @bo-ms for helping me now seems working for me
thanks again

[2021-03-08 13:13] ghost commented on #18
hello @bo-ms

I just wanna know that how can I use the other branch libraries in that **sample_azure_iot_embedded_sdk** project
I want to use JSON and RTC so

[2021-03-08 13:42] bochen-1 commented on #18
The JSON is already included in the sample project, see [netxduo\addons\azure_iot\nx_azure_iot_json_reader/writer.*](https://github.com/azure-rtos/netxduo/tree/master/addons/azure_iot). Here is [JSON APIs](https://github.com/azure-rtos/netxduo/blob/master/addons/azure_iot/docs/azure_rtos_iot_json.md)

[2021-03-09 13:29] ghost commented on #18
hello @bo-ms these all application are based on treading even if I want to use need to use the treading concept
can I do this Azure RTOS as with a normal C console application based?

actually, I need to build my own application that has several steps to connect Azure and so on another task soo

[2021-03-11 07:40] bochen-1 commented on #18
@SS-iot-devoted Yes, you can change the steps of connecting Azure in you own application. Closing this issue. We can make a meeting if needed.

[2021-03-11 07:40] #18 closed

[2021-04-20 20:33] nik-markovic commented on #10
@bo-ms This issue is closed, but I was still having the same problem with the latest release Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10.zip. Went to the project, saw no known/open issues and then wasted a lot of time figuring out what is going on. I wish you can either fix this or keep the issue open so folks know about it.

Again, the problems are:

1. Library linker path refer

[2021-04-21 03:08] ghost commented on #10
@nik-markovic  thank you for messages , we have fixed this issue internally, and will be released in next version.

[2021-04-27 17:38] nik-markovic opened #22 "STM32L4+ CubeIDE: Legacy project names causing linker issues and include path confusion"
This issue existis with Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10.zip

I suspect that netxduo/threadx/stm32l4xx_libwere once named nxd/tx/stm32l475_lib respectively. This left some residue in .cproject files that cause issues if a new project gets created with STM32CubeIDE and references netxduo/threadx/stm32l4xx_lib.

Besides extra and incorrect non-existent include paths path

[2021-04-27 18:24] nik-markovic opened #23 "STM32L4+ CubeIDE: Incorrect malloc behavior in OOM case"
This issue is observed with Azure_RTOS_6.1_STM32L4+-DISCO_STM32CubeIDE_Samples_2020_10_10.zip

I either have some bug in my example or newlib-nano malloc implementation seems to be experiencing some unexpected malloc behavior.

I expect malloc to return null if it runs our of ram. In the code below:
-  If the malloc line in main is left as-is, all malloc and frees succeed, which should not be the

[2021-04-28 04:30] BhuvaHiren opened #24 "Example project for STM32F4 series"
Hi,

Do we have any example project for stm32F4 series for stmcubeide?

Thanks,
Hiren Bhuva

[2021-04-28 09:25] TiejunZhou-CN commented on #24
No we don’t. ST is plan for F4 series integration in Q2. See plan here, https://www.st.com/content/ccc/resource/sales_and_marketing/presentation/product_presentation/group1/5b/4f/89/bf/8f/18/4e/83/Microcontrollers_STM32Cube_AzureRTOS/files/Microcontrollers_STM32Cube_AzureRTOS.pdf/jcr:content/translations/en.Microcontrollers_STM32Cube_AzureRTOS.pdf

[2021-04-29 09:08] ghost commented on #22
thanks for the suggestion,
we will create new project in the l4 project sand evaluate if the changed names cause such issue.

[2021-04-29 09:09] bochen-1 commented on #23
@nik-markovic first using malloc for embedded software is not encouraged. If you do want to use malloc, you can increase the **heap size** in iar\common_hardware_code\stm32l4s5xx_flash.icf.

define symbol **__ICFEDIT_size_heap__**   = 0x200;

[2021-04-29 09:09] #23 closed

[2021-04-29 16:17] nik-markovic commented on #23
@bo-ms The decision use or not to use malloc should be differed to the developers. Malloc has its uses in embedded development. You are using it in the Azure C SDK which is being used across many embedded products. I also want to use the cJSON library (I don't want to use the alternatives) and I am willing ignore fragmentation because there's plenty of heap available.

I an using the Cube IDE proj

[2021-04-29 16:21] nik-markovic commented on #22
@wangwen-ms The changed names also seem to be affecting the NXP 1060 MCU Expresso project. In C/C++ build -> Refresh policy the item name is "tx" instead of "threadx", which causes a full rebuild instead of incremental.

[2021-04-29 16:33] goldscott commented on #23
Hi @nik-markovic - we don't provide/maintain the malloc implementation. Have you talked to the folks who wrote it?

[2021-04-29 16:46] ryanwinter commented on #23
hi @nik-markovic , the C0SDK was designed to not use the heap in any way, if you are seeing heap allocation in the C-SDK, then this is a bug.

Are you able to point and where the heap allocation is?

[2021-04-29 20:28] nik-markovic commented on #23
@goldscott I think that I understand what you are saying now. You are not providing a malloc implementation in the SDK, but I was expecting that the customer projects (deriving form your sample) would be able to use malloc.

For the STM32L4+ CubeIDE flaveor, the malloc implementation coming from the CubeIDE's toolchain. For example, found in *sample_azure_iot_embedded_sdk/Debug/sample_azure_iot_em

[2021-04-29 20:48] ryanwinter commented on #23
Hi @nik-markovic,

Thanks for pointing out the azure-iot-sdk-c implementation.

That SDK is not meant for embedded devices, although it is still used in that way. Please use the [Azure SDK for C](https://github.com/Azure/azure-sdk-for-c) for embedded devices which doesn't use heap allocation. The Azure RTOS middleware is built on top of this SDK. (I know, the names are confusingly similar).

[2021-04-29 21:43] nik-markovic commented on #23
@ryanwinter Oh I see...

Though comment "Please use the Azure SDK for C for embedded devices" does not apply to me. I never used the Azure C SDK nor do I have intention to use it currently. I need to use the AzureRTOS and cJSON library in my application (which needs malloc).
I was just trying to point out (with a bad example) that comment "don't use malloc in embedded" is a bit harsh and that mall

[2021-04-29 21:53] goldscott commented on #23
I don't think anybody harshly said "don't use malloc." Bo stated "using malloc for embedded software is not encouraged." Obviously, there are cases when malloc is needed, but we encourage people to avoid it if possible.

Malloc is typically provided in the libraries included with the compiler.

[2021-05-05 14:53] bochen-1 commented on #23
@goldscott thanks for clarifying it.

[2021-05-07 01:05] ghost commented on #22
thanks for bring this up, we will evaluate the consequence caused by changed names and see how to fix it.

[2021-06-25 03:48] #24 closed

[2021-06-25 03:53] ghost commented on #22
we will fixed it in next release.

[2021-07-12 03:01] bochen-1 commented on #22
Closing it since we already fixed it internally and this bug fix will be in next release.

[2021-07-12 03:01] #22 closed

[2021-08-18 09:48] faceface1234 opened #26 "Renesas Cloud Kit to use standard netduox lib"
Hi,
Can the Renesas cloud kit use the standard Netduox dns, http, sntp, etc, instead of using the customized functions in the sdk project with the wifi driver? Renesas_RSK_2MB board uses the standard netduox.

[2021-08-19 00:38] ghost commented on #26
I am afraid not unless the wi-fi module supports bypass mode , as the wi-fi module has integrated the TCP/IP.

[2021-08-19 00:51] TiejunZhou-CN commented on #26
@wangwen-ms is correct for the current sample project. Since Azure RTOS 6.1.8 release, there is a new feature called TCP/IP offload. We are working with Renesas to upgrade WIFI driver to support it. Once it is done, most of NetXDuo addons can be enabled seamlessly.

[2021-09-03 04:57] #26 closed

[2021-09-03 05:35] faceface1234 opened #27 "MIMXRT1060 FlexRAM adjustment and debug"
Hi,
1. We are working on a project based on the sample_azure_iot_embedded_sdk_adu project of MIMXRT1060. Our board is MIMXRT1060-EVK.
https://github.com/azure-rtos/samples/releases/download/rel_6.1_adu_beta/Azure_RTOS_6.1_ADU_MIMXRT1060_MCUXpresso_Sample_2021_03_02.zip
2. We followed the instructions below and tried to increase the SDRAM_DTC from 128KB to 256KB by decreasing the OC_SDRAM. The GPR1

[2021-09-03 06:21] Tim-Wang38 commented on #27
Hi,
Do you modify the MPU configuration to adapt the modification of flexram?
![image](https://user-images.githubusercontent.com/52435062/131959681-6678d296-0976-46a5-9c97-17d5c87358ee.png)

[2021-09-03 08:57] shu-liu1314 commented on #27
Yes, I did. For RT1060, there are 512KB reserved for SRAM_OC.

    /* Region 4 setting: Memory with Normal type, not shareable, outer/inner write back */
    MPU->RBAR = ARM_MPU_RBAR(4, 0x00000000U);
    MPU->RASR = ARM_MPU_RASR(0, ARM_MPU_AP_FULL, 0, 0, 1, 1, 0, ARM_MPU_REGION_SIZE_128KB);

    /* Region 5 setting: Memory with Normal type, not shareable, outer/inner write back */
    MPU->RBAR =

[2021-09-03 17:21] goldscott commented on #27
Please contact NXP for help with this issue.

[2021-09-05 05:10] Tim-Wang38 commented on #27
Hi,

I've noticed that you set the heap to the SDRAM, did you enable the macro 'XIP_BOOT_HEADER_DCD_ENABLE' in the predefine configuration?

[2021-09-09 17:21] shu-liu1314 commented on #27
Yes I did try to set it to 1. Program still failed at the HardFault_Handler().

[2021-09-10 01:11] shu-liu1314 commented on #27
I found that I might need to change the RAM/Boot sections in the ADU project's hardcoded linker file. I tried to compared the auto-generated and hardcoded linker files(attached), but I could not understand much. Can you please take a look at them and see if there are any problems?

[MIMXRT1062xxxxx_flexspi_nor_ota.txt](https://github.com/azure-rtos/samples/files/7140554/MIMXRT1062xxxxx_flexspi_nor

[2021-09-10 01:19] ghost commented on #27
Hi Scott,

 i forwarded this issue to @Tim-Wang38  who comes from NXP.

[2021-09-30 17:11] shrinivasragolu opened #28 "CoAP protocol support and sample application request"
Hi,

I have recently started using the Azure RTOS NetXDuo stack. Regarding MQTT, I could get protocol implementation and APIs to write an MQTT application. But now my requirement is to write a CoAP application using CoAP APIs.

When I search in NetxDuo, I only find LWM2M, which is based on CoAP but not clean CoAP stand-alone implementation and samples.

Please help me with your pointers, that wher

[2021-10-08 03:26] bochen-1 commented on #28
Hi @shrinivasragolu You are right, our CoAP is used by LwM2M for now, we are also planning to implement CoAP stand-alone. Could you give more details about your applications? will you involve upper layer application in your project? such as: LwM2M, Thread, or other Applications. Then we can re-prioritize our tasks.

[2021-10-08 05:58] srinivas1506 commented on #28
Hi @bo-ms,

Thanks for response. YES. We are a semiconductor company producing MCUs. We are using Threadx NetxDuo stack for networking and we need similar standalone support as provided for MQTT(standalone). Most of the customers have their own IoT platforms and they expect the CoAP application on my MCU should connect to their CoAP server securely.

Hence, I am requesting you to provide similar s

[2021-10-08 08:03] bochen-1 commented on #28
Hi @shrinivasragolu, thanks for sharing the info, we will discuss it internally, and will let you know when we have plan about it.

[2021-10-08 12:08] srinivas1506 commented on #28
@bo-ms, Thank you so much for support.

[2021-10-16 06:06] bochen-1 commented on #28
We did discuss it recently but CoAP was not prioritized. Thanks.

[2021-10-31 13:32] rploeg opened #29 "GUIX"
Hello,

I am using the sample for Azure RTOS - STM32F476G-DISCO

Azure_RTOS_6.1_STM32F746G-DISCO_STM32CubeIDE_Samples_2020_10_10.zip

Everything I can upload to my device and it's working. But I have a question regarding editing the screens. Is it possible to chance the screens of the app with GUIX Studio?

[2021-11-01 01:46] ting-fx commented on #29
Yes you can edit the GUIX Studio project(.gxp file) that contains in the sample.

[2021-11-01 07:41] tolgayilmaz86 opened #30 "Win32 sample - Access Violation Error"
In the below line I get "Unhandled exception at 0x74EBB1AF (combase.dll) in ProjectHelloWorld.exe: 0xC0000005: Access violation reading location 0x00000004. occured"

tx_thread_schedule.c line 156
`tx_thread_schedule(VOID)::WaitForSingleObject(_tx_win32_scheduler_semaphore, INFINITE);`

The project is cloned and built successfully and no change has been applied.

[2021-11-09 01:09] liydu commented on #30
Hi @tolgayilmaz86 , can we know which version of Visual Studio were you using? I just tried on the latest VS2022 (used to test on VS2019) it launched okay. Thanks!

[2021-11-09 04:30] tolgayilmaz86 commented on #30
Sure, I was on the VS2019 (&Windows 10) but it seems it worked on its own without changing anything. Maybe some conflict with my system but could be something to consider within code side just to prevent the issue.

[2021-11-10 04:18] liydu commented on #30
@tolgayilmaz86 thanks for the further info. We will track this as an improvement.

[2021-11-10 04:50] #30 closed

[2021-11-19 07:43] rploeg commented on #29
Thank you. I have changed the file, but after a rebuild of the project in the IDE workspace of STM and deploy to the device, still the old screens are shown. When I open the GUIX Studio I see the new screens. Do I need to rebuild on another way to include the new screens?

[2021-11-19 07:57] rploeg commented on #29
Sorry found it, should generate output files in the GUIX Studio.

[2021-11-19 07:57] #29 closed

[2022-03-21 23:17] dsilva-vd opened #32 "Secure TLS session start does NOT connect to IoT Hub"
Hi I'm running the Azure ADU sample on a STM32F4 board (Ethernet)

My connection to my Iot Hub fails during the Secure TLS connect.

In the call to nx_secure_tls_session_start() the function returns 56. I cannot find a definition for that error code. Is there a suggestion on what to look into.

Here is the console output for my program

Nx_SNTP_Client application started..
STM32 IpAddress: XXX.XXX

[2022-05-25 21:34] liydu commented on #32
@dsilva-vd, `0x10005` is MQTT connect failure error:
https://github.com/azure-rtos/netxduo/blob/1eee883def078a91b8cd19159d1796e3a8862814/addons/mqtt/nxd_mqtt_client.h#L282

There are a couple of things you can check:
* Network connection. Can try with a different Ethernet connection to see if the problem persists. For example, if the network has a proxy, it might cause this problem.
* Check the cr

[2022-08-04 21:53] t-tbrown opened #33 "Missing Documentation Steps for .bin file and Powershell Script in SAME54 ADU Sample"
Within the `same54Xpro\mplab\docs\Azure_RTOS_ATSAME54-XPRO_Device_Update_For_MPLAB.pdf` file for the documentation, in the **Build new **firmware****, there is a section to generate the `.bin` firmware binary and use that binary in the update manifest.

![image](https://user-images.githubusercontent.com/107272765/182960576-65e39d43-6ccc-4bf3-97a6-c04a750b18f6.png)

In the default MPLAB X IDE, the

[2022-08-04 22:02] goldscott commented on #33
I think this is a copy-paste error in the documentation because that path is for the MCUXpresso tools, not the MPLAB tools. @wangwen-4220 can you look into this?

[2022-08-04 22:04] t-tbrown commented on #33
Sorry @goldscott , had both documents open and copied the wrong one. I updated the issue with the correct screenshot.

[2022-08-05 02:21] ghost commented on #33
Hi @t-tbrown, we will fix the binary file generating in next release. thanks.

[2022-08-05 02:36] bochen-1 commented on #33
Hi @t-tbrown thanks for reporting the policy issue, and great you have a workaround for it, we will update the document for it. Much thanks.

[2022-09-06 23:34] goldscott commented on #27
Thank you @Tim-Wang38 for helping! I didn't realize you were from NXP. @faceface1234 - have you resolved this issue?

[2022-09-12 16:58] shu-liu1314 commented on #27
Scott,

We use another board instead.

Face

On Tue, Sep 6, 2022 at 6:34 PM Scott Larson ***@***.***>
wrote:

--
Thanks,
Shu Liu

[2022-11-16 04:51] #32 closed

[2022-11-16 04:51] #27 closed